* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

/* navigation */
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  justify-content: center;
  border-width: 0vmax;
  color: black; 
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color:white;
}

/* Headers */
.main-header {
background-image: url(placeholder);
background-color: rgb(243, 220, 199);
background-size: cover;
padding-bottom: 30px;
}

#header {
  font-size: 30px;
  text-align: center;
  padding: 30px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h2 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.h3 {
  font-size: 25px;
  text-align: center;
  padding: 10px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Paragraphs */
.text-styling {
  font-size: 20px;
  padding: 5px;
}

.box {
height: 50%;
width: 10%;
padding: 10%;
border: 10px solid black;
}

/* Trying to align the 3 cards I've created */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:after {
  content:"";
  display: table;
  clear: both; 
}

/* Responsive CSS */

@media screen and (max-width: 400px) {
 .column {
  width: 100%;
  display: block;
  margin-bottom: 25px;
 } 
}
