* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  background-color: rgb(243, 220, 199);
}


/* navigation */
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

/* .nav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
} */

.main-nav {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
  justify-content: center;
  border-width: 0vmax;
  color: black; 
  font-family: 'Poppins', sans-serif; 

}

.main-nav li {
  padding: 5% 5%;
}

.nav a:hover {
  background-color:white;
}

/* Header */
.main-header {
/* background-image: url(placeholder); */
/* background-color: rgb(243, 220, 199); */
background-size: cover;
padding-bottom: 30px;
}

.header {
background-color: black;
font-size: 10px;
text-align: center; 
padding: 50px;
}

#main-heading {
font-family: 'Poppins', sans-serif; 
text-decoration-style: solid;
}

.sprint-headings {
  font-size: 20px;
  text-align: center;
  text-decoration: none;
}
.sprint-headings a:hover {
  background-color:white;
}

/* BOX MODEL */

/* Create three unequal columns that floats next to each other */
/* .content {
  max-width: 500px;
  margin: auto;
  background: white;
  padding: 10px;
} */

.column {
  float: left;
  padding: 10px;
}

Left and right column
.column.side {
  width: 50%;
}

/* Middle column
.column.middle {
  width: 50%;
}  */

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
} 

.flex-container {
  display: flex;
  background-color: DodgerBlue;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;}

.flex-container > div {
  background-color: #b62525;
  width: 750px;
  margin: 10px;
  padding: 30px;
}
/* Trying to align the 3 cards I've created */
/* .column {
  float: left;
  width: 25%;
  padding: 0 10px;
} */

/* .row {
  align-items: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: auto;
}

.row:after {
  content:"";
  display: table;
  clear: both; 
} */

/* Paragraphs */
.paragraph-heading {
font-size: 18px;
font-weight: 700;
font-family: 'Poppins', sans-serif; 
}

.paragraph-body {
  color: white;
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif; 
}
.ul-para {
  list-style-type: circle;
}

/* Images */
.img-caption {
  text-align: center;
}
.img {
  border-radius: 50px;
  max-width: 100%;
  height: auto; 
  margin-left: auto;
  margin-right: auto; 
  display: block; 
}

/* Responsive CSS */
@media screen and (min-width: 320px) {
  body {
  width: 100%;
  font-size:14px;
 } 
}

@media screen and (min-width: 768px) {
  body {
 font-size: 18px;
 } 
}

@media screen and (min-width: 1200px) {
  body {
  font-size: 20px;
 } 
}