* {
  box-sizing: border-box;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(0, 0, 0);
}

/* navigation */
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

nav a {
  display: inline-block;
  padding: .5em;
  color: white;
  text-decoration: none;
}

.main-nav {
  text-align: center;
  font-size: 1.5em;
  font-weight: lighter;
  justify-content: center;
  border-width: 0vmax;
  color: black; 
}

.main-nav li {
  padding: 0 5%;
}

.nav a:hover {
  background-color:white;
}

/* Header / Blog Title */
.main-header {
background-image: url(placeholder);
background-color: rgb(243, 220, 199);
background-size: cover;
padding-bottom: 30px;
}


.header {
background-color: black;
font-size: 10px;
text-align: center; 
padding: 50px;
}

.sprint-headings {
  font-size: 30px;
  text-align: center;
  font-direction: none;
}
/* cards for articles */
.card {
  background-color: peachpuff;
  justify-content: center;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
  border-width: 0vmax;
  margin-left: auto;
  margin-right: auto;
}
/* Trying to align the 3 cards I've created */
.column {
  float: left;
  width: 25%;
  padding: 0 10px;
}

.row {
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:after {
  content:"";
  display: table;
  clear: both; 
}

.p text {
  text-align: center;
}

/* Responsive CSS */

@media screen and (max-width: 400px) {
 .column {
  width: 100%;
  display: block;
  margin-bottom: 25px;
 } 
}
