* {
  box-sizing: border-box;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif */
}


/* navigation */
.nav ul {
  margin: 0;
}

.nav li {
  display: inline;
}

/* .nav a {
  display: inline-block;
  padding: .5em;
  text-decoration: none;
} */

.main-nav {
  text-align: center;
  font-size: 1.2rem;
  font-weight: lighter;
  justify-content: center;
  border-width: 0vmax;
  color: black; 
  font-family: 'Poppins', sans-serif; 

}

.main-nav li {
  padding: 5% 5%;
}

.nav a:hover {
  background-color:white;
}

/* Header */
.main-header {
/* background-image: url(placeholder); */
/* background-color: rgb(243, 220, 199); */
background-size: cover;
padding-bottom: 30px;
font-family: 'Poppins', sans-serif;
}

.header {
background-color: black;
font-size: 10px;
text-align: center; 
padding: 50px;
}

#main-heading {
font-family: 'Poppins', sans-serif; 
text-decoration-style: solid;
text-align: center;
}

/* BOX MODEL */
.flex-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;}

.flex-container > div {
  background-color: bisque;
  width: 900px;
  margin: 10px;
  padding: 30px;
}
/* Images */

/* .column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
} */
/* .row {
  align-items: center;
  display: inline-block;
  align-items: center;
  justify-content: center;
  height: auto;
}

.row:after {
  content:"";
  display: table;
  clear: both; 
} */

/* Paragraphs */
.paragraph-heading {
font-size: 20px;
font-weight: 700;
font-family: 'Poppins', sans-serif; 
text-align: center;
text-decoration: double;
}
.paragraph-subheading {
  font-size: 16px;
  font-weight: 700;
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

.paragraph-body {
  color: rgb(12, 0, 0);
  text-align: center;
  font-size: 14px;
  font-family: 'Poppins', sans-serif; 
}
.ul-para {
  list-style-type: circle;
}

/* Images */
.img-caption {
  text-align: center;
  font-family: 'Poppins', sans-serif; 
  font-size: 12px;
  margin-top: 2px;
}
.img {
  /* border-radius: 50px; */
  max-width: 100%;
  height: auto; 
  margin-left: auto;
  margin-right: auto; 
  display: block; 
}
#loop-image {
  width: 75%;
  /* height: 500px; */
  object-fit: contain;
  padding: 0 10px;

}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

/* Responsive CSS */
.wrapper {overflow: auto;}

@media screen and (min-width: 480px) {
  #leftsidebar {width: 200px; float: left;}
  #main {margin-left: 216px;}
}
#main {margin-left: 4px;}

/* @media screen and (min-width: 320px) {
  body {
  width: 100%;
  font-size:14px;
 } 
}

@media screen and (min-width: 768px) {
  body {
 font-size: 18px;
 } 
}

@media screen and (min-width: 1200px) {
  body {
  font-size: 20px;
 } 
} */
